{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        <table class="table">
            {% for attribute in attributes %}
            <tr>
                <td><label for="{{ attribute['name'].lower() }}">{{ attribute['name'] }}:</label></td>
                <td><input id="{{ attribute['name'].lower() }}"
                           name="{{ attribute['name'].lower() }}"
                           type="{{ attribute['type'] }}"
                        {% if 'required' in attribute %}
                            required step="any"
                        {% endif %}
                        {% if 'maxlength' in attribute %}
                            maxlength="{{ attribute['maxlength'] }}"
                        {% endif %}
                           class="shadow-sm rounded"
                ></td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="shadow btn btn-outline-secondary">Add</button>
    </form>
</div>

{% endblock %}