{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<div class="container">
<table class="table table-hover">

<tr>
    <th>ID</th>
    <th>Species</th>
    <th>Location</th>
    <th>Lure</th>
    <th>Caught By</th>
    <th>Weight</th>
    <th></th>
    <th></th>
</tr>

  {% for fish in fishes %}

  <tr>
    <td>{{ fish['ID'] }}</td>
    <td>{{ fish['Species'].title() }}</td>
    <td>{{ fish['Water_Body'].title() }}</td>

    {% if fish['Lure'] == None %}
        <td></td>
    {% else %}
        <td>{{ fish['Lure'] }}</td>
    {% endif %}

    <td>{{ fish['Angler'].title()}}</td>

    {% if fish['Weight'] == None %}
        <td></td>
    {% else %}
        <td>{{ fish['Weight'] }}</td>
    {% endif %}

    <td><a class="btn btn-outline-info btn-sm" href="/caught_fish/update:{{ fish }}">Edit</a></td>
    <td><a class="btn btn-outline-danger btn-sm" href="/caught_fish/delete:{{ fish }}">Delete</a></td>
  </tr>

  {% endfor %}

</table>

<div class="container">
    <a class="btn btn-outline-secondary btn-lg" href="/caught_fish/add">New</a>
</div>

</div>

{% endblock %}