{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}{% endblock %}

{% block content %}

<div class="container">

{#<p>Entity: {{ entity }}</p>#}
{#<p>Targets: {{ targets }}</p>#}
{#<p>All targets: {{ all_targets }}</p>##}

<table class="table">
    <tr>
        {% if name == 'location' %}
        <th>Description</th>
        <th>Where to find</th>
        {% else %}
        <th>Map</th>
        <th>Species Found Here</th>
        {% endif %}
    </tr>
    <tr>
        {% if name =='species' %}
        <td><img src="{{ url_for('static', filename='map.png') }}" width="250" alt="Map Placeholder"></td>
        {% else %}
        <td>{{ entity['description'] }}</td>
        {% endif %}
        <td>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">
                    Add a {{ name }}:
                    {# Form to add a relationship #}
                    <form method="post">
                        <select required class="rounded" name="target id" id="target id">
                            <option disabled selected value=></option>
                            {% for target in all_targets %}
                                {% if target['name'] not in all_target_names %}
                                <option value="{{ target[inter_table_id] }}">{{ target['name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button name="add form" style="float: right" type="submit" class="btn btn-primary btn-sm">Add</button>
                    </form>
                </li>
                {% for target in targets %}
                    {% if 'species_id' in target %}
                        {% set _id = 'species_id' %}
                    {% else %}
                        {% set _id = 'body_id' %}
                    {% endif %}
                    <a class="list-group-item list-group-item-action"
                        href="/{{ target_path }}/{{ target[_id] }}">{{ target['name'] }}
                    </a>
                {% endfor %}
                <li class="list-group-item list-group-item-danger">
                    Delete a {{ name }}:
                    {# Form to delete a relationship #}
                    <form name="delete" method="post">
                        <select required class="rounded" name="target id" id="target id">
                            <option disabled selected value=></option>
                            {% for target in all_targets %}
                                {% if target['name'] in all_target_names %}
                                <option value="{{ target[inter_table_id] }}">{{ target['name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button name="delete form" style="float: right" type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
            </ul>
        </td>
    </tr>
</table>

</div>

{% endblock %}