{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<div class="container">
<p>From the db!</p>
<table class="table table-hover">

  {% for person in people %}

  <tr>
    <td>{{ person['name'] }}</td>
    <td><a class="btn btn-outline-info btn-sm" href="/fishermen/update:{{ person['fisherman_id'] }}">Edit</a></td>
    <td><a class="btn btn-outline-danger btn-sm" href="/fishermen/delete:{{ person['fisherman_id'] }}">Delete</a></td>
  </tr>

  {% endfor %}

</table>

<div class="container">
    <a class="btn btn-outline-secondary btn-lg" href="/fishermen/add">New</a>
</div>

</div>

{% endblock %}