{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}


<div class="container">
<table class="table table-hover">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Color</th>
    <th>Type</th>
    <th></th>
    <th></th>
</tr>

  {% for lure in lures %}

  <tr>
    <td>{{ lure['lure_id'] }}</td>
    <td>{{ lure['name'].title() }}</td>
    <td>{{ lure['weight'] }}</td>
      <td>{{ lure['color'] }}</td>
      <td>{{ lure['type'] }}</td>
    <td><a class="btn btn-outline-info btn-sm" href="/lures/update:{{ lure['lure_id'] }}">Edit</a></td>
    <td><a class="btn btn-outline-danger btn-sm" href="/lures/delete:{{ lure }}">Delete</a></td>
  </tr>

  {% endfor %}

</table>


<div class="container">
    <a class="btn btn-outline-secondary btn-lg" href="/lures/add">New</a>
</div>

</div>

{% endblock %}