{% extends "base.html" %}

{# unpack dictionary #}

{% set location = details['location'] %}
{% set title = details['title'] %}
{% set items = details['items'] %}
{% set attributes = details['attributes'] %}
{% set searching = details['searching'] %}

{# finish unpacking #}

{% block title %}{{ title }}{% endblock %}

{% block html_head %}{% endblock %}

{% block content %}

<div class="container">

<div class="input-group rounded">
<form method="post">
    <span class="shadow-sm input-group border-0">
      <input id="search" name="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button class="shadow-sm btn btn-outline-dark btn-sm">Go</button>
    </span>
</form>

<div class="container" >
    <div class="col text-center">

    {% if searching %}
        <a class="shadow btn btn-outline-secondary" href="/{{ location }}">All</a>
    {% else %}
        <a class="shadow btn btn-outline-secondary" href="/{{ location }}/add">New</a>
    {% endif %}

    </div>
</div>
</div>

{# helpful for debugging #}

{#<p>Items: {{ items }}</p>#}
{#<p>Attributes: {{ attributes }}</p>#}
    <div style="height: 400px; overflow:auto">
<table class="table table-hover" style="height: 400px">
<tr>
    {% for attribute in attributes %}
        <th>{{ attribute.title() }}</th>
    {% endfor %}
    <th></th>
    <th></th>
</tr>
  {% for item in items %}
  <tr>
    {% for attribute in attributes %}
        {% if attribute == 'location' and location !='caught_fish' %}
            {# special case for displaying lat, long - unpack a tuple (lat, long) #}
            <td>{{ item['latitude'] }}, {{ item['longitude'] }}</td>
        {% elif '?' in attribute and item[attributes[attribute]] == 1 %}
            {# special case of checking bool: True #}
            <td>True</td>
        {% elif '?' in attribute and item[attributes[attribute]] == 0 %}
            {# special case of checking bool: False #}
            <td>False</td>
        {% elif 'name' in attribute and (location == 'species' or location == 'water_bodies') %}
            <td><a href="/{{ location }}/{{ item[attributes['id']] }}">{{ item[attributes[attribute]] }}</a></td>
        {% elif attribute == 'description' and item[attributes[attribute]]|length > 40 %}
            {# only display segment of a very long description #}
            <td>{{ item[attributes[attribute]][:40] }} <a href="/{{ location }}/{{ item[attributes['id']] }}">[...]</a></td>
        {% else %}
            {% if item[attributes[attribute]] != None %}
                <td>{{ item[attributes[attribute]] }}</td>
            {% else %}
                <td></td>
            {% endif %}
        {% endif %}
    {% endfor %}
    <td><a class="shadow-sm btn btn-outline-info btn-sm" href="/{{ location }}/update:{{ item[attributes['id']] }}">Edit</a></td>
    <td><a class="shadow-sm btn btn-outline-danger btn-sm" href="/{{ location }}/delete:{{ item[attributes['id']] }}">Delete</a></td>

  </tr>
  {% endfor %}
</table>
    </div>
</div>

{% endblock %}