{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}


<div class="container">
    <table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Avg Weight</th>
        <th>Freshwater?</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
      {% for fish in species %}
    <tr>
        <td>{{ fish['species_id'] }}</td>
        <td>{{ fish['name'].title() }}</td>
        <td>{{ fish['avg_weight'] }}</td>
          {% if fish['is_freshwater'] == 1 %}
            <td>True</td>
          {% else %}
            <td>False</td>
          {% endif %}
          <td>{{ fish['description'] }}</td>
        <td><a class="btn btn-outline-info btn-sm" href="/species/update:{{ fish['species_id'] }}">Edit</a></td>
        <td><a class="btn btn-outline-danger btn-sm" href="/species/delete:{{ fish['species_id'] }}">Delete</a></td>
    </tr>

      {% endfor %}

    </table>
<div class="container">
    <a class="btn btn-outline-secondary btn-lg" href="/species/add">New</a>
</div>

</div>

{% endblock %}