{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<div class="container">

    <p>{{ body }}</p>

    <form method="post">
        <table class="table">
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" name="name" required type="text" value="{{ body['name'] }}"></td>
            </tr>
            <tr>
                <td><label for="is_freshwater">Freshwater:</label></td>
                {% if body['is_freshwater'] == 1 %}
                    <td><input name="is_freshwater" id="is_freshwater" type="checkbox" checked></td>
                {% else %}
                    <td><input name="is_freshwater" id="is_freshwater" type="checkbox"></td>
                {% endif %}
            </tr>
            <tr>
                <td><label for="is_stocked">Stocked:</label></td>
                {% if body['is_stocked'] == 1 %}
                    <td><input name="is_stocked" id="is_stocked" type="checkbox" checked></td>
                {% else %}
                    <td><input name="is_stocked" id="is_stocked" type="checkbox"></td>
                {% endif %}
            </tr>
            <tr>
                <td><label for="latitude">Latitude</label></td>
                <td><input id="latitude" name="latitude" type="number" step="any" value="{{ body['latitude'] }}"></td>
            </tr>
            <tr>
                <td><label for="longitude">Longitude</label></td>
                <td><input id="longitude" name="longitude" type="number" step="any" value="{{ body['longitude'] }}"></td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary btn-sm">Update</button>
    </form>
</div>

{% endblock %}