{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<div class="container">

    <p class="lead">No actual update functionality yet. All sample data. You'll be redirected upon submit.</p>

    <form method="post">
      <label for="name">Name: </label>
      <input id="name" name="name" required type="text", value="{{ person['name'] }}">
        <button type="submit" class="btn btn-primary btn-sm">Update</button>
    </form>
</div>

{% endblock %}