{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<div class="container">
<table class="table table-hover">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Freshwater?</th>
    <th>Stocked?</th>
    <th>Location</th>
    <th></th>
    <th></th>
</tr>

  {% for body in bodies %}

  <tr>
    <td>{{ body }}</td>
    <td>{{ bodies[body]['name'].title() }}</td>
    <td>{{ bodies[body]['is_freshwater'] }}</td>
      <td>{{ bodies[body]['is_stocked'] }}</td>
      <td>{{ bodies[body]['latitude'] }}, {{ bodies[body]['longitude'] }}</td>
    <td><a class="btn btn-outline-info btn-sm" href="/water_bodies/update:{{ body }}">Edit</a></td>
    <td><a class="btn btn-outline-danger btn-sm" href="/water_bodies/delete:{{ body }}">Delete</a></td>
  </tr>

  {% endfor %}

</table>

<div class="container">
    <a class="btn btn-outline-secondary btn-lg" href="/water_bodies/add">New</a>
</div>

</div>

{% endblock %}